<div class="row mb-1">
    <div class="col">
        <div class="row">
            <img src="assets/images/icons/characters.png" alt="Characters icon" width="30" height="30">
            <h3>Characters</h3>
        </div>
    </div>
    <div class="col">
        <select class="form-control" (change)='characterService.onOrderByChange($event.target.value)'
            [disabled]='characterService.isBusyCharacterList || characterService.isBusyLoadingMore'>
            <option value>Sort by</option>
            <option value="name">Name ascending</option>
            <option value="-name">Name descending</option>
            <option value="modified">Date modified ascending</option>
            <option value="-modified">Date modified descending</option>
        </select>
    </div>
</div>

<div *ngIf='!characterService.isBusyCharacterList'>
    <div *ngIf='characterService.characters'>
        <p [innerHTML]='characterService.results'></p>

        <div class='row'>
            <amc-character-list-item *ngFor='let character of characterService.characters' class='col-lg-6 mb-3'
                [comicService]='comicService' [characterService]='characterService' [character]='character'>
            </amc-character-list-item>
        </div>

        <div *ngIf='characterService.hasMoreCharacters()' class="d-flex justify-content-center">
            <button *ngIf='!characterService.isBusyLoadingMore' class="btn btn-secondary"
                (click)='characterService.loadMoreCharacters()'>
                Load more characters
            </button>

            <div *ngIf='characterService.isBusyLoadingMore'>
                <img class="loading loaging-little" src="assets/images/loading.gif" alt="Loading...">
            </div>
        </div>

        <div *ngIf='characterService.hasReachedTheEnd()' class="d-flex justify-content-center">
            <hr>
            <p class="text-muted">You have reached the end</p>
        </div>
    </div>

    <div *ngIf='!characterService.characters || characterService.characters.length === 0'>
        <p class="text-center">There are no characters</p>
    </div>
</div>

<div *ngIf='characterService.isBusyCharacterList' class="mt-3">
    <img class="loading" src="assets/images/loading.gif" alt="Loading...">
    <p class="text-center">Loading...</p>
</div>
