.character-description {
    height: 150px;
    overflow-y: scroll;
}

.loaging-little {
    width: 25px;
    height: auto;
}

.btn-red {
    background-color: #ed1f26;
    color: #fff;
}

.comic-item {
    cursor: pointer;
}
