<div class="row mb-1">
    <div class="col">
        <div class="row">
            <img src="assets/images/icons/characters.png" alt="Characters icon" width="30" height="30">
            <h3>Characters</h3>
        </div>
    </div>
    <div class="col">
        <select class="form-control" (change)='onOrderByChange($event.target.value)'
            [disabled]='isBusyCharacterList || isBusyLoadingMore'>
            <option value>Sort by</option>
            <option value="name">Name ascending</option>
            <option value="-name">Name descending</option>
            <option value="modified">Date modified ascending</option>
            <option value="-modified">Date modified descending</option>
        </select>
    </div>
</div>

<div *ngIf='!isBusyCharacterList'>
    <div *ngIf='characters'>
        <p [innerHTML]='results'></p>

        <div class='row'>
            <div *ngFor='let character of characters' class='col-lg-6 mb-3'>
                <div class="row mb-2">
                    <div class="col">
                        <img class='img-fluid' src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                            alt="{{character.name}} picture">
                    </div>

                    <div class="col">
                        <h4>{{ character.name }}</h4>

                        <p><em>Date: {{ character.modified | date }}</em></p>

                        <p *ngIf='character.description' [innerHTML]='character.description'
                            class="character-description"></p>

                        <p *ngIf='!character.description'>
                            <em>This character does not have a description.</em>
                        </p>

                        <button class="btn btn-red" data-toggle="modal" data-target="#characterModal"
                            (click)='onSelectCharacter(character.resourceURI)'>
                            View more
                        </button>
                    </div>
                </div>

                <h5>Related comics</h5>

                <div *ngIf='character.comics.items.slice(0, 4).length > 0' class="row">
                    <div class="col-6 mb-1" *ngFor='let comic of character.comics.items.slice(0, 4)'>
                        <span class="comic-item" title="See details" data-toggle="modal" data-target="#comicModal"
                            (click)='onSelectComic(comic.resourceURI)'>
                            {{ comic.name }}
                        </span>
                    </div>
                </div>

                <div *ngIf='character.comics.items.slice(0, 4).length === 0'>
                    <small>This character does not have any related comics</small>
                </div>
            </div>
        </div>

        <div *ngIf='hasMoreCharacters()' class="d-flex justify-content-center align-items-middle">
            <button *ngIf='!isBusyLoadingMore' class="btn btn-red" (click)='onLoadMoreCharacters(0)'>
                Load more characters
            </button>

            <div *ngIf='isBusyLoadingMore && characters.length > 0'>
                <img class="loading loaging-little" src="assets/images/loading.gif" alt="Loading...">
            </div>
        </div>

        <div *ngIf='!hasMoreCharacters() && characters.length > 0' class="col-12">
            <hr>
            <div class="row d-flex justify-content-center align-items-center">
                <img src="assets/images/icons/characters.png" alt="Characters icon" width="30" height="30">
                You have reached the end
            </div>
        </div>
    </div>

    <div *ngIf='!characters || characters.length === 0'>
        <hr>
        <p class="text-center">There are no characters</p>
    </div>
</div>

<div *ngIf='isBusyCharacterList' class="mt-3">
    <img class="loading" src="assets/images/loading.gif" alt="Loading...">
    <p class="text-center">Loading...</p>
</div>
