<div class="row mb-2">
    <div class="col">
        <img class='img-fluid' src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
            alt="{{character.name}} picture">
    </div>

    <div class="col">
        <h4>{{ character.name }}</h4>

        <p><em>Date: {{ character.modified | date }}</em></p>

        <p *ngIf='character.description' [innerHTML]='character.description' class="character-description"></p>

        <p *ngIf='!character.description'>
            <em>This character does not have a description.</em>
        </p>

        <button class="btn btn-red" data-toggle="modal" data-target="#characterModal"
            (click)='onSelectCharacter(character.resourceURI)'>
            View more
        </button>
    </div>
</div>

<h5>Related comics</h5>

<div *ngIf='character.comics.items.slice(0, 4).length > 0' class="row">
    <div class="col-6 mb-1" *ngFor='let comic of character.comics.items.slice(0, 4)'>
        <span class="comic-item" title="See details" data-toggle="modal" data-target="#comicModal"
            (click)='onSelectComic(comic.resourceURI)'>
            {{ comic.name }}
        </span>
    </div>
</div>

<div *ngIf='character.comics.items.slice(0, 4).length === 0'>
    <small>This character does not have any related comics</small>
</div>
