<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Marvel-Comics-Logo.svg" alt="Marvel logo"
            width="60" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2">
            <input class="form-control mr-2" type="search" placeholder="Search characters..." aria-label="Search">
            <button class="btn btn-dark" type="submit">
                <img src="assets/images/icons/search.png" alt="Search icon" width="30" width="30">
            </button>
        </form>
    </div>
</nav>

<div class='container'>
    <div class="row">
        <div class="col-md-9">
            <div class="row mb-1">
                <div class="col">
                    <div class="row">
                        <img src="assets/images/icons/characters.png" alt="Characters icon" width="30" height="30">
                        <h3>Characters</h3>
                    </div>
                </div>
                <div class="col">
                    <select class="form-control">
                        <option value>Sort by</option>
                        <option value="name">Name</option>
                        <option value="date">Date</option>
                    </select>
                </div>
            </div>

            <div *ngIf='characters' class='row'>
                <div *ngFor='let character of characters' class='col-md-6 mb-3'>
                    <div class="row mb-2">
                        <div class="col">
                            <img class='img-fluid' src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                                [alt]="character.name">
                        </div>

                        <div class="col">
                            <h4>{{ character.name }}</h4>

                            <p *ngIf='character.description'>{{ character.description }}</p>

                            <p *ngIf='!character.description'><em>This character does not have a description.</em></p>

                            <button class="btn btn-primary" data-toggle="modal" data-target="#characterModal" (click)='selectComic(character.resourceURI)'>
                                View more
                            </button>
                        </div>
                    </div>

                    <h5>Related comics</h5>

                    <div class="row">
                        <div class="col-6 mb-1" *ngFor='let comic of character.comics.items.slice(0, 4)'>
                            <span class="comic-item" title="See details" data-toggle="modal" data-target="#comicModal" (click)='selectComic(comic.resourceURI)'>
                                {{ comic.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <img src="assets/images/icons/btn-favourites-primary.png" alt="Characters icon" width="30" height="30"
                    class="mr-1">
                <h3>My favourites</h3>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comicModal" tabindex="-1" role="dialog" aria-labelledby="comicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comicModalLabel">Comic detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="" alt="">
                    </div>
                    <div class="col-md-6">
                        Description
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to favorites</button>
                <button type="button" class="btn btn-primary">Buy for $#.##</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="characterModal" tabindex="-1" role="dialog" aria-labelledby="characterModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="characterModalLabel">{{ selectedCharacter.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="{{selectedCharacter.thumbnail.path}}.{{selectedCharacter.thumbnail.extension}}" [alt]='selectedCharacter.name'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
