<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Marvel-Comics-Logo.svg" alt="Marvel logo"
            width="60" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex align-items-middle">
            <input class="form-control input-search" placeholder="Search characters..." aria-label="Search"
                [(ngModel)]='nameStartsWith'
                [disabled]='isBusyCharacterList || isBusyLoadingMore'>
            <button class="btn btn-dark ml-1 mr-1" (click)='searchCharactersByName(nameStartsWith)'
                [disabled]='isBusyCharacterList || isBusyLoadingMore || searchEqualsNameStartsWith()'>
                <img src="assets/images/icons/search.png" alt="Search icon" width="30" width="30">
            </button>
            <button class="btn btn-dark btn-favourites align-self-end" data-target="#favouritesModal"
                data-toggle="modal" title="Favourite comics">
                <div class="d-flex flex-row align-items-middle">
                    <img src="assets/images/icons/btn-favourites-primary.png" alt="Favourties icon" width="30"
                        width="30" class="mr-1">
                    {{ !favouriteComics ? 0 : favouriteComics.length }}
                </div>
            </button>
        </div>
    </div>
</nav>
