<div class="modal fade" id="favouritesModal" tabindex="-1" role="dialog" aria-labelledby="favouritesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="assets/images/icons/btn-favourites-primary.png" alt="Characters icon" width="30" height="30"
                    class="mr-1">
                <h5 class="modal-title" id="favouritesModalLabel">
                    My favourites ({{ !favouriteComics ? 0 : favouriteComics.length }})
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='onClearComic(0)'>
                    <img src="assets/images/icons/btn-close.png" alt="Close button">
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf='favouriteComics' class='row'>
                    <div *ngFor='let favouriteComic of favouriteComics' class="col-4 mb-3">
                        <img src="{{favouriteComic.thumbnail.path}}.{{favouriteComic.thumbnail.extension}}"
                            [alt]='favouriteComic.title' class="img-fluid comic-thumbnail">
                        <img src="assets/images/icons/btn-delete.png"
                            alt="Delete {{favouriteComic.title}} from favourites" class="delete-button"
                            title="Delete {{favouriteComic.title}} from favourites"
                            (click)='onRemoveFavourite(favouriteComic.id)'>
                        <small>{{ favouriteComic.title }}</small>
                    </div>
                </div>

                <div *ngIf='!favouriteComics || favouriteComics.length === 0'>
                    <p class="text-center">You don't have any favourite comics</p>
                </div>
            </div>
        </div>
    </div>
</div>
