<div class="row">
    <img src="assets/images/icons/btn-favourites-primary.png" alt="Characters icon" width="30" height="30" class="mr-1">
    <h3>My favourites ({{ !comicService.favouriteComics ? 0 : comicService.favouriteComics.length }})</h3>
</div>

<div *ngIf='comicService.favouriteComics' class='row'>
    <div *ngFor='let favouriteComic of comicService.favouriteComics' class="col-lg-6 mb-3">
        <img src="{{favouriteComic.thumbnail.path}}.{{favouriteComic.thumbnail.extension}}" [alt]='favouriteComic.title'
            class="img-fluid comic-thumbnail">
        <img src="assets/images/icons/btn-delete.png" alt="Delete {{favouriteComic.title}} from favourites"
            class="delete-button" title="Delete {{favouriteComic.title}} from favourites"
            (click)='comicService.removeFavourite(favouriteComic.id)'>
    </div>
</div>

<div *ngIf='!comicService.favouriteComics || comicService.favouriteComics.length === 0'>
    <p class="text-center">You don't have any favourite comics</p>
</div>
